#background {
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3) ), url("podcast_background.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  header {
    padding: 3rem 0;
    #logo {
      float: left;
      text-transform: uppercase;
      font-weight: 700;
      color: $white;
      text-decoration: none;
    }
    nav {
      float: right;
      ul {
        list-style: none;
        margin: 0;
        li {
          display: inline;
          margin-left: 2.5rem;
          a {
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }
  h1 {
    color: $white;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 7rem 0 2rem 0;
  }
  .button {
    margin: 1.5rem 0.5% 0 0.5%;
  }
}

.wrapper_skinny {
  p {
    color: white;
    font-style: italic;
    margin-top: -4%;
    margin-left: 58%;
    span {
      color: yellow;
      font-size: 3rem;
    }

  }
  h1 {
    span {
      color: yellow;
      font-style: italic;
      font-weight: 300;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  p {
    color: lightgrey;
    a {
      text-decoration: none;
      color: #d2674e;
    }
    .fa {
      color: #d2674e;
    }
  }
}
